body{
    background-image: url("gallery/glry (24).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.form_group table .tbl_tr{
    background-color: aqua;
    border: 2px solid black;
}