body{
    background-image: url("user_inbox.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.user_inbox{
    background-color: turquoise;
    font-family: sans-serif;
    font-size: 20px;
}